<footer class="text-muted py-5">
  <div class="container">
    <p class="float-end mb-1">
      <a class=" text-decoration-none text-reset" href="">Back to top</a>
    </p>
    <p class="mb-1">All products are © Daraz, but please download and customize it for yourself!</p>
    <p class="mb-0">New to Daraz? <a href="/">Visit the homepage</a> or buy our products.</p>
  </div>
</footer>